.root {
  cursor: pointer;
  display: flex;
  gap: 1.173rem;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  border-radius: 0.99rem;
  width: 18.5rem;
  height: 5.2rem;
  font-size: 1.98rem;
  transition: all 0.2s ease-in-out;
}

.contained {
  border: 1px solid transparent;
  background: var(--primary-color);
  color: white;
}

.contained:hover {
  /* background: var(--text-primary-color); */
  /* color: black; */
  box-shadow: 4px 4px 10px var(--border-color);
}

.outlined {
  background: transparent;
  border: 1px solid var(--border-color);
}
